.container2 {
  display: flex;
  margin-right: 20px;
  position: relative;
  left: -12px;
  top: 14px;

}

.box1 {
  background-color: white;
  width: 250px;
  height: 100vh;
}

@media(max-width:500px) {
  .box1 {
    visibility: hidden;
  }
    /* #sidebar {
      width: 65px;
      margin-left: -255px;
    } */
  }

  .c1{
    background-color: #212529;;
    /* border: none; */
    color: white;
    padding-left: 33px;
    position: relative;
    left: 660px;
  }